nav {
  font-family: 'Overpass Mono', sans-serif;
  font-size: 1.5em;
  font-weight: 700;

  header {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2em;
    text-align: center;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (max-width:768px) {
      flex-direction: column;
      align-items: center;
    }

    a {
      text-decoration: none;
      color: black;
      margin: 0em 1em 0em 1em;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
