.endorsed_image {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  font-weight: 100;
}
.endorsed:before {
  border-radius: 200px;
  border: 3px solid #06ce00;
  /*box-shadow: 0 0 15px rgba(0, 255, 204, 0.15), 0 0 15px rgba(0, 255, 204, 0.15) inset;*/
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 230px;
  width: 230px;
  margin-left: -118px;
  margin-top: -118px;
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}
.endorsed:hover:before {
  transform: scale(1.05);
}
.break{
  height:15px;
}
.endorsed.circle {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  border: none;
  /*color: #e4ecfa;*/
  cursor: pointer;
  display: block;
  width: 200px;
  height: 200px;
  line-height: 200px;
  position: relative;
  margin: 25px 20px 0px 20px;
  transition: 0.5s;
}
.endorsed.circle:hover {
  padding: -2px;
}

.notEndorsed {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  font-weight: 100;
/*  font-family: "Segoe UI";
  letter-spacing: 1px;*/
}

.notEndorsed.red:before {
  border: 1px solid red;
}
.notEndorsed:before {
  border-radius: 200px;
  border: 1px solid #468cdc;
  /*box-shadow: 0 0 15px rgba(0, 255, 204, 0.15), 0 0 15px rgba(0, 255, 204, 0.15) inset;*/
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 230px;
  width: 230px;
  margin-left: -116px;
  margin-top: -116px;
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}
.notEndorsed:hover:before {
  transform: scale(1.05);
}
.notEndorsed.circle {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  border: none;
  /*color: #e4ecfa;*/
  cursor: pointer;
  display: block;
  width: 200px;
  height: 200px;
  line-height: 200px;
  position: relative;
  margin: auto;
  margin-top: 25px;
  transition: 0.5s;
  margin: 25px 20px 0px 20px;
  transition: 0.5s;
}
.notEndorsed.circle:hover {
  padding: -2px;
}
.candidate_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 30px 30px 0px;
  min-height: 300px;
  max-width: 240px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 1px 4px 0px;
  padding: 10px;
  transition: all 0.3s ease;

  @media (max-width: 768px) {
    margin: 0px 0px 1em 0px;
  }
}

.candidate_card:hover {
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.32);
  z-index: 10;
  opacity: 0.8;
}

.positionRow{
  height: auto;
  border-color: gray;
  margin-top: 35px;
}
.positionCandidates{
  display:flex;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    justify-content: center;
  }
}
.positionName{
/*  text-align: center;*/
  padding-bottom: 10px;
  font-family: 'Overpass Mono', sans-serif;
  font-size: 1.25em;
  color: black;
  text-transform: uppercase;
  font-weight: 700;

  @media (max-width: 768px) {
    text-align: center;
  }
}
.endorsedPositionName{
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Overpass Mono', sans-serif;
  font-size: 1.25em;
  color: black;
  text-transform: uppercase;
  font-weight: 700;

  @media (max-width: 768px) {
    text-align: center;
  }
}

.candidateName{
  margin: 1em 0em 0em 0em;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}
.candidateSlate{
  font-family: 'Overpass Mono', sans-serif;
  font-size: 0.8em;
  color: gray;
  text-align: center;
}


.modal {
  position: fixed;
  z-index: 999;
  width: auto;
  height:auto;
  max-height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: white;
  min-width:1000px;

  @media (max-width: 768px) {
    min-width: 0;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    max-height: 100vh;
  }

/*  display: inline-flex;*/
}

/*@media only screen and (max-width: 500px) {
    .candidateOverlay{
      display: block;
      text-align: center;

    }
}*/
.modal img {
  width: 40%;
  min-width: 300px;
  border: 5px solid #fff;
  overflow: hidden;
  top: 0%;

}

.modal-overlay {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.modal-body a {
  position: absolute;
  display: inline;
  color: #222;
  text-decoration: none;
  line-height: 36px;
  font-size: 30px;
  font-weight: lighter;
  background: #fff;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  text-align: center;
}

.candidateOverlayPlatform a{
  position: relative;
  display: inline;
  color: black;
  text-decoration: none;
  line-height: inherit;
  font-size: inherit;

  border-radius: 0px;
}

.modal-body .modal-close {
  right: 0;
  top: 0;
  border-radius: 0 0 0 5px;
}

.modal-body .modal-next,
.modal-body .modal-prev {
  right: 0;
  top: calc(50% - 25px);
  border-radius: 5px 0 0 5px;
  height: 50px;
  line-height: 40px;
  font-size: 60px;
}

.modal-body .modal-prev {
  left: 0;
  right: auto;
  border-radius: 0 5px 5px 0;
}

.modal-body {
  position: relative;
  font-family: 'Overpass Mono', sans-serif;
}

/* Overlay styling */

.candidateModalInfo{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

}


.candidateModalImageContainer{
  flex: 1;
  max-width: 33%;

}




.candidateModalImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.candidateOverlay{
  vertical-align: top;
  display:flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
}
@media only screen and (max-device-width: 768px){
  .candidateOverlay{
    display:block;
  }
  .candidateModalInfo{
    justify-content: center;
  }
  .candidateName{
    text-align: center;
  }
  .candidateSlate{
    text-align: center;
  }
  .candidateOverlayPlatform{
    text-align: center;
    overflow-y: scroll;
  }
  .modal img {
    margin-left: auto;
    margin-right: auto;
  }
}
.candidateOverlayPlatform{
  flex: 5;
  max-width: 100%;
  overflow: scroll;
  font-family: 'IBM Plex Sans', sans-serif;
}
.candidateModalInfo{
  @media (min-width: 768px) {
    max-height: 80vh;
  }

  a {
    font-size: inherit;
  }
/*  display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
}

.candidateOverlayName {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-size:  2em;
}

.candidateOverlaySlate {
  color: gray;
}

.candidateOverlaySlate.endorsedBar {
  background-color: black;
  color: white;
  text-align:center;
}

@media (max-width: 768px) {

    .candidateModalInfo {
      flex-direction: column;
      justify-content: flex-start;
      flex-grow: 0;
      height: 100vh;
      overflow-y: scroll;
    }

    .candidateModalImageContainer {
      max-width: 100%;
    }

    .candidateOverlay {
      text-align: center;
    }

    .candidateOverlayPlatform{
      text-align: left;
    }
  }
.dropdown-width {
  width: 100%;
}

.bd-dropdown {
  position: relative;
  font-size: 1rem;
  margin-top: 1em;
  font-family: 'Overpass Mono', monospace;
}
.bd-dropdown.__active > .__control {
  border: 0.1rem solid #ccd4d8;
  border-radius: 0.2rem 0.2rem 0 0;
  font-family: 'Overpass Mono', monospace;
}
.bd-dropdown .__control {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  border: 0.1rem solid #ccd4d8;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  background-color: #fff;
  color: #667d89;
  cursor: pointer;
}
.bd-dropdown .__control .icon {
  color: #97a8b0;
}
.bd-dropdown .__options {
  position: absolute;
  top: 100%;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0.1rem solid #ccd4d8;
  border-radius: 0 0 0.2rem 0.2rem;
  border-top: none;
  background-color: #fff;
  z-index: 1;
}
.bd-dropdown .__options .__item {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}
.bd-dropdown .__options .__item.__selected {
  background-color: #e7e7e7;
  cursor: default;
}
.bd-dropdown .__options .__item:hover {
  background-color: #e7e7e7;
}
